// Assistant
@font-face {
    font-family: 'Assistant';
    src: url('../fonts/assistant/assistant-light-webfont.eot');
    src: url('../fonts/assistant/assistant-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/assistant/assistant-light-webfont.woff2') format('woff2'),
         url('../fonts/assistant/assistant-light-webfont.woff') format('woff'),
         url('../fonts/assistant/assistant-light-webfont.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Assistant';
    src: url('../fonts/assistant/assistant-regular-webfont.eot');
    src: url('../fonts/assistant/assistant-regular-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/assistant/assistant-regular-webfont.woff2') format('woff2'),
         url('../fonts/assistant/assistant-regular-webfont.woff') format('woff'),
         url('../fonts/assistant/assistant-regular-webfont.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Assistant';
    src: url('../fonts/assistant/assistant-semibold-webfont.eot');
    src: url('../fonts/assistant/assistant-semibold-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/assistant/assistant-semibold-webfont.woff2') format('woff2'),
         url('../fonts/assistant/assistant-semibold-webfont.woff') format('woff'),
         url('../fonts/assistant/assistant-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Assistant';
    src: url('../fonts/assistant/assistant-bold-webfont.eot');
    src: url('../fonts/assistant/assistant-bold-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/assistant/assistant-bold-webfont.woff2') format('woff2'),
         url('../fonts/assistant/assistant-bold-webfont.woff') format('woff'),
         url('../fonts/assistant/assistant-bold-webfont.ttf') format('truetype');
    font-weight: 700;
}