---
layout: default
author: Shagor
---


<!-- Content -->
<div class="section section-blog section-pad">
	<div class="container">
		<div class="content row">

			<div class="row">
				<div class="col-md-8">
					<!-- Blog Post Loop -->
					<div class="row">
						<ul class="blog-posts post-col2">

							{% for post in site.posts %}
							<li class="post post-loop col-md-6">
								{% if post.image !='' %}
								<div class="post-thumbs">
									<a href="{{ post.url }}"><img alt="" src="{{ post.image }}"></a>
								</div>
								{% endif %}
								<div class="post-entry">
									<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
									<div class="post-meta">
										<a href="#"><span class="post-author"><em class="fa fa-user" aria-hidden="true"></em> {{ page.author }} </span></a>
										<a href="#"><span class="post-tag"><em class="fa fa-folder-open" aria-hidden="true"></em>  {{ post.category }} </span></a>
									</div>
									<p>{{ post.content | truncate: '140' }}</p>
									<div class="button-area">
										<a href="{{ post.url }}">Read More <i class="fa fa-angle-double-right"></i></a>
										<div class="share-area">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="clear"></div>
					<div class="gaps size-lg"></div>
					<div class="pagination">
						<a href="#" class="btn">Next page <i class="fa fa-angle-double-right"></i> </a>
					</div>
					<!-- End Blog Post -->
				</div>

				<!-- Sidebar -->
				<div class="col-md-4">
					<div class="sidebar-right">
						<div class="wgs-box wgs-share">
							<h3 class="wgs-heading">Follow Us</h3>
							<div class="wgs-content">
								<a href="#"><img src="image/social.png" alt="Follow Us"></a>
							</div>
						</div>

						<div class="wgs-box wgs-recents">
							<h3 class="wgs-heading">Recent Posts</h3>
							<div class="wgs-content">
								<ul class="blog-recent">
									<li>
										<a href="blog-details.html">
											<img alt="" src="image/photo-a.jpg">
											<p> Marketing technology is more than just vendors and tools...</p>
										</a>
									</li>
									<li>
										<a href="blog-details.html">
											<img alt="" src="image/photo-b.jpg">
											<p>Make your data accessible with these data visualization tools...</p>
										</a>
									</li>
									<li>
										<a href="blog-details.html">
											<img alt="" src="image/photo-c.jpg">
											<p>Why Fruits & Vegetables Are So Good for You...</p>
										</a>
									</li>
									<li>
										<a href="blog-details.html">
											<img alt="" src="image/photo-d.jpg">
											<p>New speeding fines and what it means for you...</p>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="wgs-box wgs-tags">
							<h3 class="wgs-heading">Tags</h3>
							<div class="wgs-content">
								<ul class="tag-list clearfix">
									<li><a href="">Agency</a></li>
									<li><a href="">Personal</a></li>
									<li><a href="">Photographer</a></li>
									<li><a href="">Designer</a></li>
									<li><a href="">Industry</a></li>
									<li><a href="">Health</a></li>
								</ul>
							</div>
						</div>
						<div class="wgs-box wgs-contact-info">
							<h3 class="wgs-heading">Contact Info</h3>
							<div class="wgs-content boxed">
								<ul class="contact-list">
									<li>
										<i class="fa fa-map" aria-hidden="true"></i>
										<span>4640 Webster Street <br> Jersey City, NJ 07305 </span>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<span>732-546-2933</span>
									</li>
									<li>
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<span>Email : <a href="#">info@yourdomain.com</a></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Sidebar #end -->
			</div>
		</div>
	</div>
</div>
<!-- End Content -->


