---
layout: default
title: Home
author: Shagor
---


<!-- Content -->
<div class="section section-blog section-pad">
	<div class="container">
		<div class="content row">

			<div class="row">
				<div class="col-md-8">
					<!-- Blog Post Loop -->
					<div class="row">
						<ul class="blog-posts post-col2">

							{% for post in site.posts limit:6 %}
							<li class="post post-loop col-md-6">
								{% if post.image !='' %}
								<div class="post-thumbs">
									<a href="{{ post.url }}"><img alt="" src="{{ post.image }}"></a>
								</div>
								{% endif %}
								<div class="post-entry">
									<h2><a href="{{ post.url }}">{{ post.title | truncate: '64' }}</a></h2>
									<div class="post-meta">
										<a href="{{ auth.url }}"><span class="post-author"><em class="fa fa-user" aria-hidden="true"></em> {{ page.author }} </span></a>
										<a href="#"><span class="post-tag"><em class="fa fa-folder-open" aria-hidden="true"></em>  {{ post.category }} </span></a>
									</div>
									<p>{{ post.content | truncate: '140' }}</p>
									<div class="button-area">
										<a href="{{ post.url }}">Read More <i class="fa fa-angle-double-right"></i></a>
										<div class="share-area">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="clear"></div>
					<div class="gaps size-lg"></div>
					<div class="pagination">
						<a href="#" class="btn">Next page <i class="fa fa-angle-double-right"></i> </a>
					</div>
					<!-- End Blog Post -->
				</div>


				<!-- Sidebar -->
				<div class="col-md-4">
					{% include sidebar.html %}
				</div>
				<!-- Sidebar #end -->
			</div>
		</div>
	</div>
</div>
<!-- End Content -->


