<div class="banner banner-static home-banner">
    <div id="particles-js" class="particles-container"></div>
    <div class="container">
        <div class="content row">
            <div class="banner-text">
                <h1 class="page-title">Minimal Blog</h1>
                <p class="lead">Agency, Personal, Developer, Designer, Photographer, Industry, Servicing</p>
            </div>
            <div class="imagebg">
                <img src="image/banner.jpg" alt="">
            </div>

        </div>
    </div>
</div>