<div class="banner banner-static">
    <div class="container">
        <div class="content row">
            <div class="banner-text">
                <h1 class="page-title">About Discovery</h1>
                <div class="gaps"></div>
                <div class="page-indecator">
                    <a href="./" class="light">Home</a> &nbsp;<i class="fa fa-angle-right"></i>&nbsp; <a>{{ page.title }}</a>
                </div>
            </div>
            <div class="imagebg">
                <img src="image/banner.jpg" alt="">
            </div>

        </div>
    </div>
</div>