<div class="sidebar-right">
    <div class="wgs-box wgs-share">
        <h3 class="wgs-heading">Follow Us</h3>
        <div class="wgs-content">
            <a href="#"><img src="image/social.png" alt="Follow Us"></a>
        </div>
    </div>

    <div class="wgs-box wgs-recents">
        <h3 class="wgs-heading">Recent Posts</h3>
        <div class="wgs-content">
            <ul class="blog-recent">
             {% for post in site.posts limit:4 %}
                <li>
                    <a href="{{ post.url }}">
                        <img alt="" src="{{ post.image }}">
                        <p> {{ post.title | truncate: '64'  }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="wgs-box wgs-tags">
        <h3 class="wgs-heading">Tags</h3>
        <div class="wgs-content">
            <ul class="tag-list clearfix">
                <li><a href="">Agency</a></li>
                <li><a href="">Personal</a></li>
                <li><a href="">Photographer</a></li>
                <li><a href="">Designer</a></li>
                <li><a href="">Industry</a></li>
                <li><a href="">Health</a></li>
            </ul>
        </div>
    </div>

    <div class="wgs-box wgs-contact-info">
        <h3 class="wgs-heading">Contact Info</h3>
        <div class="wgs-content boxed">
            <ul class="contact-list">
                <li>
                    <i class="fa fa-map" aria-hidden="true"></i>
                    <span>4640 Webster Street <br> Jersey City, NJ 07305 </span>
                </li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>732-546-2933</span>
                </li>
                <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>Email : <a href="#">info@yourdomain.com</a></span>
                </li>
            </ul>
        </div>
    </div>

</div>